@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Font Name';
    src: url('./assets/fonts/730e8169368baf37-s.p.woff2') format('woff2');
}